<div class="gnavi"><div class="wrap">
    <ul class="parent clearfix">
      <li><a href="/" class="menu01">ホーム</a></li>
      <li><a href="/" class="menu02">ガイドブック</a></li>
      <li><%= link_to "旅行プラン", plans_path, :class => "menu03" %></li>
    </ul>
  </div>
</div><!--/wrap,gnavi-->

<div class="gnavi_child child01_bg"><div class="wrap">
    <ul class="child01">
      <li><a href="/about">Social Guidebookについて</a></li>
      <li><a href="/help">ヘルプ</a></li>
      <li><a href="/ads">広告・スポンサー</a></li>
      <li><a href="http://twitter.com/#!/socialguidebook">Twitter</a></li>
    </ul>
    <ul class="child02" style="display:none">
      <li><%= link_to "ページ一覧", pages_path %></li>
      <li><%= link_to "最近更新したページ", recents_pages_path %></li>
      <li><%= link_to "最近登録された写真", recents_photos_path %></li>
      <li><%= link_to "最近登録された動画", recents_videos_path %></li>
    </ul>
    <ul class="child03" style="display:none">
      <li><%= link_to "旅行プラン一覧", plans_path %></li>
      <li><%= link_to "人気の旅行プラン", plans_path(:order => "popular") %></li>
      <li><%= link_to "最近更新された旅行プラン", recents_plans_path %></li>
    </ul>
  </div>
</div><!--/wrap,child-->
