<div class="section">
  <h2 class="s_yellow">プレミアム記事<span><a href="#">もっと見る</a></span></h2>
  <p class="caution_area">MOONGIFTプレミアムは、月額500円の有料サービスです。<a href="#">詳細はこちらから</a>。</p>
  <div class="posthead_img">
    <p class="ph"><%= link_to image_tag("/images/dummy.jpg", :width =>120, :height => 120), "" %></p>
    <div class="detail">
      <p class="date">2011/04/11</p>
      <h3 class="title"><%= link_to "テストのタイトルです", "" %></h3>
      <div class="clearfix">
        <ul class="sbm">
          <li><a href="http://b.hatena.ne.jp/entry/http://www.moongift.jp/" class="hatena-bookmark-button" data-hatena-bookmark-title="MOONGIFT" data-hatena-bookmark-layout="vertical" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
          <li><a href="http://twitter.com/share?url=http://www.moongift.jp/" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
          <li><iframe src="http://www.facebook.com/plugins/like.php?href=http://www.moongift.jp/page%2Fto%2Flike&amp;layout=box_count&amp;show_faces=false&amp;width=50&amp;action=like&amp;colorscheme=light&amp;height=65&amp;locale=en_US" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:60px;" allowTransparency="true"></iframe></li>
        </ul>
        <ul class="meta">
          <li class="author">
            <%= image_tag("http://github.com/images/gravatars/gravatar-16.png") %> <%= link_to "Test user" %>
          </li>
          <li class="cat">
            <%= link_to "カテゴリ1" %>, <%= link_to "カテゴリ2" %>, <%= link_to "カテゴリ3" %>
          </li>
          <li class="tag">
            <%= link_to "タグ1" %>, <%= link_to "タグ2" %>, <%= link_to "タグ3" %>
          </li>
        </ul>
      </div>
      <p class="description">テストテストテスト</p>
    </div>
  </div><!--/post_head_img-->
</div><!-- /section -->

